@import url(./header.css);
@import url(./main.css);
@import url(./main-blocks/picture.css);
@import url(./main-blocks/card.css);
@import url(./main-blocks/focus__disabled.css);
@import url(./footer.css);
@import url(./theme-dark.css);

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg-color: #F3EFEC;
  --text-color: #312A4E;
  --accent-color: #FFAB6B;
  --main-font: Raleway;
  --accent-font: 'STIX Two Text';
}

.page {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--main-font);
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}