.theme_dark {
    --bg-color: #171717;
    --text-color: #B3B3B3;
    --accent-color: transparent;
}

.theme_dark > .header__theme-button_is-active {
    border-width: none;
}

.theme_dark .header__theme-button_is-active::after {
    background-image: url('../images/pattern.svg');
    position: absolute;
    left: 2.5px;
    top: 13px;
}

.theme_dark .content__text-block_type_first-lettered > .content__paragraph:nth-child(1)::first-letter {
    background-color: transparent;
    border: 2px solid var(--text-color);
}

.theme_dark .colored-text::before {
    background-image: url('../images/pattern.svg');
}

.theme_dark .content__list-item::before {
    background-image: url('../images/marker-dark.svg');
}

.theme_dark .colored-text::after {
    position: relative;
}

.theme_dark .colored-text::after {
    position: absolute;
    content: " ";
    background-color: transparent;
    background-image: url(../images/pattern.svg);
    width: 220px;
    height: 0.3em;
    z-index: -1;
    left: -0.1vw;
    bottom: 1vw;
}